:root{
    --verde: #58cc02;
    --verde-escuro: #46a302;
    --azul: #1cb0f6;
    --cinza: #4b4b4b;
    --cinza-claro: #e5e5e5;
    --azul-fundo: #d7f3ff;
    --azul-escuro: #0b3b75;
}

/*Configurações gerais */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: var(--cinza);
    background-color: white;
}

/* Cabeçalho */

header {
    padding: 30px 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.botao-idioma {
    display: none;
}

/* Conteúdo principal */

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}

.imagem-principal {
    width: 100%;
    text-align: center;
}

.imagem-principal img {
    width: 55%;
    height: auto;
}

.conteudo-principal {
    width: 100%;
    text-align: center;
}

.conteudo-principal h1 {
    font-size: 28px;
    line-height: 1.2;
    margin: 20px 0;
}

/* Botões */

.botoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.botoes a {
    width: 90%;
    padding: 14px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.botao-comecar {
    background-color: var(--verde);
    color: white;
    border-bottom: 4px solid var(--verde-escuro);
}

.botao-conta {
    background-color: white;
    color: var(--azul);
    border: 2px solid var(--cinza-claro);
}

/* Barra de idiomas */

.idiomas {
    display: none;
}

/* Seção grátis, divertido e eficaz */

.informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

.texto-informacao {
    width: 80%;
    text-align: center;
}

.texto-informacao h2 {
    color: var(--verde);
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.texto-informacao p {
    font-size: 16px;
    line-height: 1.5;
}

.texto-informacao a {
    color: var(--azul);
    font-weight: bold;
    text-decoration: none;
}

.imagem-informacao {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.imagem-informacao img {
    width: 55%;
    height: auto;
}

/* Seção baseado na ciência */

.ciencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

.texto-ciencia {
    width: 80%;
    text-align: center;
}

.texto-ciencia h2 {
    color: var(--verde);
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.texto-ciencia p {
    font-size: 16px;
    line-height: 1.5;
}

.imagem-ciencia {
    width: 100%;
    text-align: center;
    margin-top: 45px;
}

.imagem-ciencia img {
    width: 65%;
    height: auto;
}

/* Formulário */

.formulario {
    background-color: var(--azul-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 80px 20px;
}

.formulario h2 {
    color: var(--azul-escuro);
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 25px;
}

.formulario p {
    font-size: 17px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 50px;
}

.formulario form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.campo label {
    font-weight: bold;
}

.campo input {
    padding: 4px;
    border: 2px solid var(--cinza-claro);
    border-radius: 12px;
    font-size: 16px;
}

.formulario button {
    width: 55%;
    align-self: center;
    padding: 14px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-bottom: 4px solid var(--verde-escuro);
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
}

/* Versão para telas maiores */

@media (min-width: 768px) {

    header {
        padding: 20px 15%;
    }

    .logo img {
        width: 185px;
    }

    nav {
        justify-content: space-between;
    }

    .botao-idioma {
        display: block;
        padding: 8px 12px;
        border: none;
        background-color: white;
        color: #999999;
        font-weight: bold;
        cursor: pointer;
    }

    .principal {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 90px 13% 90px;
    }

    .imagem-principal {
        width: 32%;
    }

    .imagem-principal img {
        width: 100%;
    }

    .conteudo-principal {
        width: 48%;
    }

    .conteudo-principal h1 {
        font-size: 32px;
    }

    .botoes a {
        width: 75%;
    }

    .idiomas {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        padding: 30px 40px;
        border-top: 1.6px solid var(--cinza-claro); 
        border-bottom: 1.6px solid var(--cinza-claro)
    }

    .idiomas a {
        color: #777777;
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
    }

    .idiomas a:hover {
        color: var(--azul);
    }

    /* Seção informação no desktop */

    .informacao {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 120px;
        padding: 130px 15%;
    }

    .texto-informacao {
        width: 47%;
        text-align: left;
    }

    .texto-informacao h2 {
        font-size: 48px;
        margin-bottom: 30px;
    }

    .imagem-informacao {
        width: 34%;
        margin-top: 0;
    }

    .imagem-informacao img {
        width: 100%;
    }

    /* Seçao baseado na ciência no desktop */

    .ciencia {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 130px 15%;
    }

    .texto-ciencia {
        width: 46%;
        text-align: left;
    }

    .texto-ciencia h2 {
        font-size: 52px;
        margin-bottom: 30px;
    }

    .texto-ciencia p {
        width: 90%;
    }

    .imagem-ciencia {
        width: 38%;
        margin-top: 0;
    }

    .imagem-ciencia img {
        width: 100%;
    }

    /* Formulário no desktop */

    .formulario {
        padding: 130px 20px;
    }

    .formulario h2 {
        font-size: 52px;
    }

    .formulario form {
        width: 45%;
    }

    .formulario button {
        width: 45%;
    }

}